html, body {
    background-color: #F1F5F9;
    height: 100%;
    width: 100%;
    margin: 0;
    display: grid;
    place-items: center;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.wrapper {
    height: 96%;
    width: 30%;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: space-between;
}

.gateway_header {
    flex: 2;
    text-align: center;
}

.gateway_form {
    flex: 6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gateway_buttons {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.text_theme {
    color: #6047FF;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

span {
    color: #7D7E80;
    font-size: 14px;
    display: block;
    margin-top: 6px;
}

a {
    text-decoration: none;
    color: black;
}

.pinput {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
}

form {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 12px;
}

.pinput_item 
{
    font-size: 32px;
    text-align: center;
    width: 100%;
    max-width: 20px;
    height: 20px;
}

.card_number_input 
{
    width: calc(100% - 20px);
    font-size: 20px;
    height: 20px;
}

form input
{
    border-radius: 4px;
    outline: 0.2px solid black;
    padding: 10px;
    color: black;
    border: none;
}

form input:focus
{
    outline: 2px solid #6047FF;
}

.amount {
    font-weight: bold;
    font-size: 20px;
}

.call_to_action {
    font-weight: bold;
    font-size: 28px;
    margin: 0px;
}

.primary_btn {
    color: white;
    background-color: #6047FF;
}

.secondary_btn {
    background-color: transparent;
    border: 0.2px solid black !important;
    color: black;
}

.btn {
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    width: 100%;
    height: 40px;
}

label
{
    margin: 6px 0px 6px 0px;
    display: block;
}

@media only screen and (min-width: 425px) {
    .wrapper {
        width: 90%;
    }

    .pinput {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .wrapper {
        width: 30%;
    }

    .pinput {
        width: 70%;
    }
}