/* ============== BASIC BUTTONS ===============*/
.payment_btn, .custom_payment_btn
{
    height: 40px;
    width: 140px;
    border-radius: var(--border-radius);
    background-color: var(--color-secondary);
    border: var(--border);
    font-weight: 600;
}

/* Default Payment Button */
.payment_btn
{
    background-image: url("../assets/images/logo.svg");
    background-position: center;
    background-size: 50%, 75%;
    background-repeat: no-repeat;
}

/* Hover States */
.payment_btn:hover, .custom_payment_btn:hover
{
    cursor: pointer;
}

/* ============== VARIANTS ===============*/

/* Outlined Variant */
.payment_btn.btn_outlined
{
    border: 2px solid var(--color-primary);
}

.custom_payment_btn.btn_outlined
{
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
}

/* Filled Variant */
.payment_btn.btn_filled
{
    border: none;
    background-image: url("../assets/images/logo_inverted.svg");
    background-color: var(--color-primary);
}

.custom_payment_btn.btn_filled
{
    background-color: var(--color-primary);
    color: var(--color-secondary);
    border: 2px solid var(--color-primary);
}

/* Icon Variant */
.payment_btn.btn_icon
{
    background-color: inherit;
    border: none;
}